@model List<Services.ServiceModels.BookmarkVM>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Short Description</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.URL,
                        "AddClick", "Bookmarks",
                        new { url = item.URL },  new { target = "_blank" })
                </td>

                <td>@item.ShortDescription</td>
                <td>@item.CreateDate.ToShortDateString()</td>
            </tr>
            }

        </tbody>
    </table>
</div>